#contenedor {
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;

}

body {
	background-image: url(../img/back.jpg);

}

}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li {
	padding-left: 27px;
	margin-bottom: 16px;
	position: relative;
}

ul.list li a {
	color: #41dcf3;
}

ul.list li a:after  {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 0;
	top: 2px;
	content: '';
	pointer-events: none;
	display: block;
	background: url(../images/marker.png) 0 0 no-repeat;
}

ul.list li a:hover {
	color: #525252;
}

ul.list li a:hover:after {
	background-position: 0 bottom;
}


h1{
	font-family: verdana;
	color: #000000;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;

}

h2{
	font-family: verdana;
	color: #E30000;
	margin-left: 20px;
	font-size: 30px;
	text-align: center;

}

h3{
	font-family: verdana;
	color: white;
	margin-left: 20px;
	font-size: 12px;
	text-align: left;

}

header{
	width: 1000px;
	height: 203px;

}



section{
	width: 700px;
	background: white;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

#inicio{
	width: 1000px;
	background: white;
	height: 700px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

#lectura{
	width: 1000px;
	background: white;
	height: 1000px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

#multimedia{
	width: 1000px;
	background: white;
	height: 1000px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

#actividades{
	width: 1000px;
	background: white;
	height: 1000px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

#autores{
	width: 1000px;
	background: white;
	height: 400px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;

}

aside{
	width: 280px;
	background: white;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

footer{
	width: 1000px;
	height: 100px;
	background: #000000;
	float: left;
	margin-top: 20px;
	border-radius: 8px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px;

}

p{
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;

}
